In [51]:
import pandas as pd
import numpy as np

### Importing dataset

In [52]:
ad=pd.read_csv(r"C:\Users\window10\Desktop\Tech Board Member Details new\Application for Joining Technical Clubs (Responses) - Form Responses 1.csv")

In [53]:
pd.set_option("Display.max_colwidth",None)
ad.rename(columns={'Choose clubs that you want to join:-':"Club"},inplace=True)
ad.head(5)

,Timestamp,Email Address,Name,Roll No.,Branch,Batch,Contact No.,Institute Mail ID,Club
0,2/4/2022 22:10:00,aryant.cse.1914@iiitbh.ac.in,Aryant Tripathi,1901014,CSE,2019-23,9559295279,aryant.cse.1914@iiitbh.ac.in,Coordinator Coding Club
1,2/5/2022 12:11:59,sohail.ece.1970@iiitbh.ac.in,Sohail khan,1901070,ECE,2019-23,890786228,sohail.ece.1970@iiitbh.ac.in,"Coding Club, Web Development Club, Blockchain Club"
2,2/5/2022 12:14:15,deepak.cse.1924@iiitbh.ac.in,deepak kumar,1901024,CSE,2019-23,7222067931,deepak.cse.1924@iiitbh.ac.in,"Blockchain Club, Mobile App Development Club, Cyber Security Club"
3,2/5/2022 13:56:57,harshvardhan.cse.1933@iiitbh.ac.in,Harshvardhan Yadav,1901033,CSE,2019-23,7424904458,harshvardhan.cse.1933@iiitbh.ac.in,"Coding Club, Web Development Club, Cyber Security Club"
4,2/6/2022 7:11:55,harshit.cse.1932@iiitbh.ac.in,Harshit Vijay Gupta,1901032,CSE,2019-23,6299714312,harshit.cse.1932@iiitbh.ac.in,"Coding Club, AI/ML Club, Blockchain Club"

In [54]:
li=[]
toy=[]
for a in ad["Club"]:
    b=a
    b=b.split(',')
    for c in b:
        if c[0]==' ':
            c=c[1:]
            li.append(c)
        else:
            li.append(c)
res=[]
for i in li :
    if i not in res:
        res.append(i)
#for i in li:
  #  print(i)
print("Below are the total choices we aksed in the form ")
for j in res:
    print(j)

Below are the total choices we aksed in the form
Coordinator Coding Club
Coding Club
Web Development Club
Blockchain Club
Mobile App Development Club
Cyber Security Club
AI/ML Club
Coordinator Web Development Club
Coordinator Mobile App Development Club
Coordinator Blockchain Club
Robotics and IoT Club
Entrepreneurship Club
Electronics Club
Coordinator Entrepreneurship Club

In [55]:
print("Choose clubs or clubs by selecting desired numbers:- ")

dic={}

for i in range(len(res)):
    dic[i]=res[i]
for i in dic:
    print(dic[i]+":--" +str(i))

#a=int(input())

Choose clubs or clubs by selecting desired numbers:-
Coordinator Coding Club:--0
Coding Club:--1
Web Development Club:--2
Blockchain Club:--3
Mobile App Development Club:--4
Cyber Security Club:--5
AI/ML Club:--6
Coordinator Web Development Club:--7
Coordinator Mobile App Development Club:--8
Coordinator Blockchain Club:--9
Robotics and IoT Club:--10
Entrepreneurship Club:--11
Electronics Club:--12
Coordinator Entrepreneurship Club:--13

In [56]:

print("How many clubs you want to choose from ")

qweqweqwe=1
if qweqweqwe==1:
  aa=int(input())
lo=[]
for i in range(aa):
  print("Enter club number ")
  b=int(input())
  if (b<0 or b>13):
       print("Please enter correct Number :!!!")
       break
  lo.append(dic[b])
  b=0
            
print(lo)
t=[]
for i in lo:
    i=" "+i
    t.append(i)
    
print(t)

for j in t:
 lo.append(j) 

print(lo)

ui=lo[0]

How many clubs you want to choose from
1
Enter club number
7
['Coordinator Web Development Club']
[' Coordinator Web Development Club']
['Coordinator Web Development Club', ' Coordinator Web Development Club']

In [57]:
print("Total no. of students in all clubs :- " + str(ad.shape[0])) # Total No. of Students

Total no. of students in all clubs :- 278


# Batch : 2021-25

In [58]:
sd=ad[ad["Batch"]=="2021-25"]
sd.shape[0]  #Total No. of First year students

print("Batch details :- ")
print(f"Total 1st year cse( that took part in any club of the tech board )")
print(sd[sd["Branch"]=="CSE"].shape[0])
print("          ")
print(f"Total 1st year ece (that took part in any club of the tech board) ")
print(sd[sd["Branch"]=="ECE"].shape[0])
print("           ")
print(f"Total 1st year mea (that took part in any club of the tech board) ")
print(sd[sd["Branch"]=="MEA"].shape[0])
print(f'\n')

sd["My"]=np.random.randint(10,20,sd.shape[0])

sd.head(3)

val=0
count=0
for i in sd["Club"]:
    k=i
    k=k.split(",")
    
    for j in k:
        #if j==dic[a]:
        if j in lo:
                
            #print(j)
            val=1
             #print("yes")
    if val==1:
        sd.iat[count,9]=1
    else:
        sd.iat[count,9]=0
    count=count+1
    val=0
    

sd_new=sd[sd['My']==1]
#print("Total club members of this cllub sd_new.shape[0])# Total  Club Members

print(f"{ui} details of this club for this batch  are :- ")
print(f'\n')
pd.set_option("Display.max_rows",None)


# t=pd.DataFrame()
# t['Mobile']=sd['Contact No.']
# t['Name']=sd['Name']

print(f"The total members of {ui} from this batch are ",sd_new.shape[0])
print(f"\n")


sd_new_cse=sd_new[sd_new["Branch"]=="CSE"]
print("Total CSE Members (1st year) of this club are ")
print(sd_new_cse.shape[0])  #Total CSE members of Club
print("     ")

sd_new_ece=sd_new[sd_new["Branch"]=="ECE"]
print("Total ECE Members (1st year) of this club are ")
print(sd_new_ece.shape[0])  #Total ECE members of Club
print("     ")

sd_new_mea=sd_new[sd_new["Branch"]=="MEA"]
print("Total MEA Membets (1st year) of this club are ")
print(sd_new_mea.shape[0])  #Total MEA members of Club
print("     ")

Batch details :-
Total 1st year cse( that took part in any club of the tech board )
132

Total 1st year ece (that took part in any club of the tech board)
56

Total 1st year mea (that took part in any club of the tech board)
21


Coordinator Web Development Club details of this club for this batch  are :-


The total members of Coordinator Web Development Club from this batch are  3


Total CSE Members (1st year) of this club are
2

Total ECE Members (1st year) of this club are
1

Total MEA Membets (1st year) of this club are
0

<ipython-input-58-251774766401>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sd["My"]=np.random.randint(10,20,sd.shape[0])

 
# Batch :-  2020-2024

In [59]:
# Second Year 
# Batch : 2020-24


dd=ad[ad["Batch"]=="2020-24"]
dd.shape[0]  #Total No. of First year students

print(f"Total 2nd year cse ( that enrolled in tech board clubs ) ")
print(dd[dd["Branch"]=="CSE"].shape[0])
print("          ")
print(f"Total 2nd year ece ( that enrolled in tech board clubs ) ")
print(dd[dd["Branch"]=="ECE"].shape[0])
print("           ")
print(f"Total 2nd year mea ( that enrolled in tech board clubs ) ")
print(dd[dd["Branch"]=="MEA"].shape[0])
print(f'\n')

dd["My"]=np.random.randint(10,20,dd.shape[0])

dd.head(3)

val=0
count=0
for i in dd["Club"]:
    k=i
    k=k.split(",")
    
    for j in k:
        #if j==dic[a]:
        if j in lo:
                
            #print(j)
            val=1
             #print("yes")
    if val==1:
        dd.iat[count,9]=1
    else:
        dd.iat[count,9]=0
    count=count+1
    val=0
    

dd_new=dd[dd['My']==1]
dd_new.shape[0]# Total  Club Members

print(f'\n')
pd.set_option("Display.max_rows",None)
dd_new.head()




tt=pd.DataFrame()
tt['Mobile']=dd['Contact No.']
tt['Name']=dd['Name']


print(f"The total members of {ui} from this batch are ",dd_new.shape[0])
print(f"\n")


dd_new_cse=dd_new[dd_new["Branch"]=="CSE"]
print("Total CSE Members (1st year) of this club are ")
print(dd_new_cse.shape[0])  #Total CSE members of Club
print("     ")

dd_new_ece=dd_new[dd_new["Branch"]=="ECE"]
print("Total ECE Members (1st year) of this club are ")
print(dd_new_ece.shape[0])  #Total ECE members of Club
print("     ")

dd_new_mea=dd_new[dd_new["Branch"]=="MEA"]
print("Total MEA Membets (1st year) of this club are ")
print(dd_new_mea.shape[0])  #Total MEA members of Club
print("     ")

dd_new_cse

Total 2nd year cse ( that enrolled in tech board clubs )
24

Total 2nd year ece ( that enrolled in tech board clubs )
26

Total 2nd year mea ( that enrolled in tech board clubs )
6




The total members of Coordinator Web Development Club from this batch are  3


Total CSE Members (1st year) of this club are
2

Total ECE Members (1st year) of this club are
1

Total MEA Membets (1st year) of this club are
0

<ipython-input-59-0fb020668090>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd["My"]=np.random.randint(10,20,dd.shape[0])

,Timestamp,Email Address,Name,Roll No.,Branch,Batch,Contact No.,Institute Mail ID,Club,My
13,2/4/2022 22:11:35,nishant.cse.20066@iiitbh.ac.in,Nishant Ranjan,2001066,CSE,2020-24,9097683783,nishant.cse.20066@iiitbh.ac.in,"Coordinator Coding Club, Coordinator Web Development Club, Coordinator Mobile App Development Club",1
15,2/4/2022 22:18:55,venkatesh.cse.20004@iiitbh.ac.in,Venkatesh Mishra,2001004,CSE,2020-24,9598560188,venkatesh.cse.20004@iiitbh.ac.in,"Coordinator Coding Club, Coordinator Web Development Club",1

# Batch 2019-2023 details

In [60]:
# Second Year 
# Batch : 2020-24


fd=ad[ad["Batch"]=="2019-23"]
fd.shape[0]  #Total No. of First year students

print(f"Total 3rd year cse ( that enrolled in tech board clubs )")
print(fd[fd["Branch"]=="CSE"].shape[0])
print("          ")
print(f"Total 3rd year ece (that enrolled in tech board clubs) ")
print(fd[fd["Branch"]=="ECE"].shape[0])
print("           ")
print(f"Total 3rd year mea ( that enrolled in tech board clubs) ")
print(fd[fd["Branch"]=="MEA"].shape[0])
print(f"\n")

fd["My"]=np.random.randint(10,20,fd.shape[0])

fd.head(3)

print(f"\n")
val=0
count=0
for i in fd["Club"]:
    k=i
    k=k.split(",")
    
    for j in k:
        #if j==dic[a]:
        if j in lo:
                
            #print(j)
            val=1
             #print("yes")
    if val==1:
        fd.iat[count,9]=1
    else:
        fd.iat[count,9]=0
    count=count+1
    val=0
    

fd_new=fd[fd['My']==1]
fd_new.shape[0]# Total  Club Members
pd.set_option("Display.max_rows",None)
fd_new.head()


fd_new[fd['Branch']=="CSE"]

ttt=pd.DataFrame()
ttt['Mobile']=fd['Contact No.']
ttt['Name']=fd['Name']
print(f"The total members of {ui} from this batch are ",fd_new.shape[0])
print(f"\n")

fd_new_cse=fd_new[fd_new["Branch"]=="CSE"]
print("Total CSE Members (3rd year) of this club are ")
print(fd_new_cse.shape[0])  #Total CSE members of Club
print("     ")

fd_new_ece=fd_new[fd_new["Branch"]=="ECE"]
print("Total ECE Members (3rd year) of this club are ")
print(fd_new_ece.shape[0])  #Total ECE members of Club
print("     ")

fd_new_mea=fd_new[fd_new["Branch"]=="MEA"]
print("Total MEA Membets (3rd year) of this club are ")
print(fd_new_mea.shape[0])  #Total MEA members of Club
print("     ")

fd_new_cse

Total 3rd year cse ( that enrolled in tech board clubs )
9

Total 3rd year ece (that enrolled in tech board clubs)
2

Total 3rd year mea ( that enrolled in tech board clubs)
2




The total members of Coordinator Web Development Club from this batch are  0


Total CSE Members (3rd year) of this club are
0

Total ECE Members (3rd year) of this club are
0

Total MEA Membets (3rd year) of this club are
0

<ipython-input-60-6310fe7201eb>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fd["My"]=np.random.randint(10,20,fd.shape[0])
<ipython-input-60-6310fe7201eb>:50: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fd_new[fd['Branch']=="CSE"]

Empty DataFrame
Columns: [Timestamp, Email Address, Name, Roll No., Branch, Batch, Contact No., Institute Mail ID, Club, My]
Index: []

# The end